@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}


.main-container {
    display: flex;
    box-shadow: 15px 15px 30px hsl(221, 100%, 96%);
    border-radius: 30px;

}

.overview,
.result-summary {
    /* border: 1px solid black; */
    flex: 0 0 50%;
}

.overview {
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    /* padding:20px; */
    border-radius: 30px;
}

.overview-inner {
    max-width: 75%;
    margin: 0 auto;
    /* border:1px solid red; */
}

.overview-heading,
.overview-og-score,
.overview-comments-sec {
    margin: 30px 0px;
}

.overview-heading {
    font-size: 20px;
}

.overview-heading,
.overview-comments {
    color: #c6c6c6;
}

.overview-og-score {
    /* border:1px solid pink; */
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 0 auto;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actual-score {
    font-size: 60px;
    font-weight: 800;
}

.score-out-off,
.result-type-score {
    color: rgb(179, 179, 179);
}

.result-type-score {
    font-weight: 700;
}

.overview-comments-sec {
    /* border:1px solid red; */
    padding: 10px;
}

.overview-reaction {
    font-size: 30px;
    margin-bottom: 15px;
}

/* results summary sectin */

.result-summary-inner {
    /* border:1px solid red; */
    /* remove height */
    height: 100%;
    max-width: 75%;
    margin: 0 auto;
}

.summary-heading,
.results-breakdown {
    margin: 30px 0px;
}

.result-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 10px;
}

.icon-container {
    display: flex;
    width: 35%;
    column-gap: 10px;
}

.red {
    background: hsla(0, 100%, 67%, 0.1);
}

.red .icon-container {
    color: hsl(0, 100%, 67%)
} 

.yellow {
    background: hsla(39, 100%, 56%, 0.1);
}

.yellow .icon-container {
    color: hsl(39, 100%, 56%);
}

.green {
    background: hsla(166, 100%, 37%, 0.1);
}

.green .icon-container {
    color:hsla(166, 100%, 37%)
}

.blue {
    background: hsla(234, 85%, 45%, 0.1);
}

.blue .icon-container {
    color:hsla(234, 85%, 45%);
}

.result-type-score .result-type-actual-score {
    color: black;
}

/* button */

.continue-btn {
    width: 100%;
    padding:15px 10px;
    border-radius: 25px;
    background:hsl(224, 30%, 27%);
    color:white;
    border:none;
    font-weight: 700;
    font-size:20px;
}